@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --preto: #0A0808;
    --titulo: 'Playfair Display', serif;
    --corpo: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--preto);
    font-family: var(--corpo);
    color: #fff;
}

/* ---------- Starts Header ---------- */
header {
    display: flex;
    flex-direction: column;
    position: relative;
}

header #playing {
    width: 370px;
    opacity: 0.3;
    z-index: -2;
}

#playing img {
    width: 370px;
    position: absolute;
    top: 0;
    left: 0;
}

header #logo {
    width: 150px;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style-type: none;
}

nav a {
    font-family: var(--corpo);
    font-weight: 600;
    color: #fff;
    padding: 1rem;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

header #menu-mobile {
    display: none;
}
/* ---------- Finishes Header ---------- */

/* ---------- Starts Section ---------- */
section {
    max-width: 1200px;
    padding: 30px 50px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

section .text-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

section .text-info h1 {
    font: 900 2.5em var(--titulo);
    margin-bottom: 30px;
}

section .text-info p {
    font: 400 1em var(--corpo);
    line-height: 1.8em;
}

section .social-symbols {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
    height: 300px;
}

section .social-symbols .links {
    margin-top: 40px;
}

section .social-symbols .links a {
    padding: 10px;
    color: #fff;
}

section .social-symbols .links a i {
    font-size: 1.3em;
}

section img#photo {
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px #00000054;
}
/* ---------- Finishes Section ---------- */

/* ---------- Starts Footer ---------- */
footer {
    height: 185px;
    position: relative;
}

footer #god {
    width: 370px;
    opacity: 0.3;
    z-index: -1;
}

footer #god img {
    width: 370px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ---------- Finishes Footer ---------- */


@media screen and (max-width: 800px) {
    section {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 800px;
    }
}

@media screen and (max-width: 600px) {
    header nav {
        background-color: #0a0808de;
    }

    header #menu-mobile {
        display: block;
        position: absolute;
        right: calc(1.5rem - 20px);
        padding: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    header #menu-mobile i {
        font-size: 1.5rem;
        color: #fff;
    }

    header .menu-desktop {
        display: none;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a0808de;
    }
    
    header #second-item {
        display: none;
        position: absolute;
        top: 150px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a0808de;
    }

    #nav.active .menu-desktop, 
    #nav.active #second-item {
        display: block;
        z-index: 2;
    }

    section .text-info h1 {
        font-size: 2.2em;
    }

    footer {
        height: 4rem;
    }
}