@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --preto: #0A0808;
    --titulo: 'Playfair Display', serif;
    --corpo: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-position: inside;
    line-height: 1.8em;
    scroll-behavior: smooth;
}

body {
    background-color: var(--preto);
    font-family: var(--corpo);
    color: #fff;
}

/* ---------- Starts Header ---------- */
header {
    display: flex;
    flex-direction: column;
    position: relative;
}

header #playing {
    width: 370px;
    opacity: 0.3;
    z-index: -2;
}

#playing img {
    width: 370px;
    position: absolute;
    top: 0;
    left: 0;
}

header #logo {
    width: 150px;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style-type: none;
}

nav a {
    font-family: var(--corpo);
    font-weight: 600;
    color: #fff;
    padding: 1rem;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

header #menu-mobile {
    display: none;
}
/* ---------- Finishes Header ---------- */


/* ---------- Starts Section ---------- */
section {
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    position: relative;
}

section h1 {
    font: 900 2em var(--titulo);
}

section ul {
    margin: 3.5rem 0;
}

section ul li {
    margin: 2.5rem 0;
    font: 600 1em var(--corpo);
}

section ul li a {
    color: #fff;
    font-weight: 300;
    margin: 1rem 0;
}

section ul li a i {
    font-size: 1.3em;
    margin-right: 10px;
}
/* ---------- Finishes Section ---------- */

/* ---------- Starts Footer ---------- */
footer {
    position: relative;
}

footer #god {
    width: 370px;
    opacity: 0.3;
    z-index: -1;
}

footer #god img {
    width: 370px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ---------- Finishes Footer ---------- */

@media screen and (max-width: 600px) {
    header nav {
        background-color: #0a0808de;
    }

    header #menu-mobile {
        display: block;
        position: absolute;
        right: calc(1.5rem - 20px);
        padding: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    header #menu-mobile i {
        font-size: 1.5rem;
        color: #fff;
    }

    header .menu-desktop {
        display: none;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a0808de;
    }
    
    header #second-item {
        display: none;
        position: absolute;
        top: 150px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a0808de;
    }

    #nav.active .menu-desktop, 
    #nav.active #second-item {
        display: block;
        z-index: 2;
    }
}