@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --preto: #0A0808;
    --rosaclaro: #E1A9A3;
    --bege1: #813300;
    --bege2: #8F3900;
    --titulo: 'Playfair Display', serif;
    --corpo: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    list-style-position: inside;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--preto);
    font-family: var(--corpo);
    color: #fff;
    line-height: 1.8em;
    overflow-x: hidden;
}

/* ---------- Starts Header ---------- */
header {
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
}

header #bola {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 500px;
    left: -90px;
    background-color: #9D2D3C;
    border-radius: 50%;
    z-index: -3;
    filter: blur(100px);
    opacity: .5;
}

header #bola01 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -160px;
    right: -160px;
    background-color: #7d28cc;
    border-radius: 50%;
    opacity: .6;
    filter: blur(100px);
    z-index: -3;
}

header #playing {
    width: 600px;
    position: absolute;
    opacity: 0.5;
    z-index: -2;
}

#playing img {
    width: 600px;
}


.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 700px;
    padding: 30px;
}

.main-header img#polyphia1 {
    max-width: 400px;
    margin: auto;
    border-radius: 45% 45% 2px 2px;
    box-shadow: 10px 10px 20px #00000071;
    filter: brightness(80%);
    z-index: -1;
}

.main-header h1 {
    position: absolute;
    top: 33rem;
    left: 0;
    right: 0;
    padding: 30px;
    color: var(--bege2);
    font: italic 900 3em var(--titulo);
    text-align: center;
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px;
}

nav ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

nav ul.menu-desktop li a {
    font-family: var(--corpo);
    font-weight: 600;
    color: #fff;
    padding: 1rem 100% 1rem 1rem;
}

nav a:hover {
    border-bottom: 1px solid #fff;
}

header #menu-mobile {
    display: none;
}

header .header-streamings {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    background-color: var(--rosaclaro);
}

header .header-streamings .streamings {
    color: black;
    font: 700 1.1em var(--corpo);
}

header .header-streamings .streamings i {
    font-size: 1.3em;
}
/* ---------- Finishes Header ---------- */

/* ---------- Starts About ---------- */
.about {
    max-width: 1200px;
    height: 700px;
    padding: 30px;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.about .text {
    width: 40%;
}

.about .text h1 {
    font: italic 900 3em var(--titulo);
    margin-bottom: 3rem;
}

.about .text p {
    font-size: 1.1em;
}

.about img {
    width: 40%;
    border-radius: 20% 10px 20% 20%;
    box-shadow: 10px 10px 20px #00000071;
}
/* ---------- Finishes About ---------- */

/* ---------- Starts Influency ---------- */
.influency {
    max-width: 1200px;
    height: 800px;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.influency img {
    height: 450px;
    border-radius: 35% 35% 5px 5px;
    box-shadow: 10px 10px 20px #00000063;
    filter: brightness(75%);
}

.influency #influency-text {
    position: absolute;
    max-width: 700px;
    padding: .7rem;
}

.influency #influency-text p {
    font: 500 1.1em var(--corpo);
    line-height: 1.8em;
}

.influency #influency-text h1 {
    font: 900 1.8em var(--titulo);
    line-height: 1.8em;
}
/* ---------- Finishes Influency ---------- */

/* ---------- Starts Style ---------- */
.style {
    max-width: 1200px;
    height: 700px;
    padding: 30px;
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.style .text {
    width: 40%;
}

.style .text h1 {
    font: italic 900 3em var(--titulo);
    margin-bottom: 3rem;
}

.style .text p {
    font-size: 1.1em;
}

.style img {
    width: 40%;
    border-radius: 20% 5px;
}
/* ---------- Finishes Style ---------- */

/* ---------- Starts Discography ---------- */
.discography {
    max-width: 1000px;
    height: 1000px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.discography h1 {
    font: 900 3em var(--titulo);
}

.swiper-container {
    max-width: 1200px;
    padding: 2.5rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
}

.swiper-slide .swiper-slide-shadow-left,
.swiper-slide .swiper-slide-shadow-right {
    background: none;
}

.album-content {
    position: relative;
    width: 100%;
}

.album-content img {
    width: 100%;
    border-radius: 20px;
}

.album-content .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.album-content .title h1 {
    font: 900 2.5em var(--titulo);
    text-align: center;
}

.album-content .title h2 {
    font: 500 1.5em var(--titulo);
}

.discography .swiper-button-prev,
.discography .swiper-button-next {
    background-color: #000000d2;
    border: 2px solid #fff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 1.8rem;
}

.discography .swiper-button-next::after,
.discography .swiper-button-prev::after {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: 800;
    font-size: 1.5em;
}
/* ---------- Finishes Discography ---------- */

/* ---------- Starts Videoclipes ---------- */
.videoclipes {
    max-width: 1200px;
    margin: auto;
}

.videoclipes h1 {
    max-width: 1200px;
    margin: auto;
    font: 900 2.8em var(--titulo);
    text-align: center;
}

.videoclipes .videos {
    position: relative;
    height: 550px;
    padding: 30px;
    margin: 50px 0;
}

.videoclipes .videos > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 1px solid #fff;
}
/* ---------- Finishes Videoclipes ---------- */

/* ---------- Starts Members ---------- */
.members {
    max-width: 1200px;
    padding-top: 5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.members #title {
    font: 900 2.7em var(--titulo);
    text-align: center;
    margin: 2rem 0;
}

.members .member{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 0;
}

.members .name {
    text-align: center;
    width: 30%;
}

.members .name h1 {
    font: 900 3em var(--titulo);
}

.members .name h2 {
    font: 600 1.8em var(--titulo);
}

.members .member img {
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00000077;
}

.members #first,
.members #second {
    flex-direction: row-reverse;
}
/* ---------- Finishes Members ---------- */

/* ---------- Starts Social ---------- */
.social {
    max-width: 1200px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.social .title-text h1 {
    font: 900 3em var(--titulo);
    text-align: center;
    margin-bottom: 30px;
}

.social a {
    color: #fff;
    font: 600 1.2em var(--corpo);
    margin-bottom: 30px;
}

.social i {
    font-size: 22px;
}
/* ---------- Finishes Social ---------- */

/* ---------- Starts Footer ---------- */
footer {
    height: 300px;
    padding: 1.5rem;
    position: relative;
    background-color: var(--rosaclaro);
    color: var(--preto);
    z-index: -2;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer h2 {
    position: absolute;
    font: 800 2em var(--titulo);
}

footer p {
    text-align: center;
    font: 600 1em var(--corpo);
}

footer #god {
    width: 530px;
    opacity: 0.5;
    z-index: -1;
}

footer #god img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* ---------- Finishes Footer ---------- */


/* ---------- Starts Media Queries ---------- */

@media screen and (max-width: 850px) {
    
/* ---------- Starts Header ---------- */
header .main-header h1 {
    font-size: 2.5em;
    text-align: center;
    top: 30rem;
}

#playing img {
    width: 400px;
}
/* ---------- Finishes header ---------- */

/* ---------- Starts About ---------- */
.about {
    height: 1000px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.about img {
    width: 60%;
}

.about .text {
    width: 100%;
}
/* ---------- Finishes About ---------- */

/* ---------- Starts Influency ---------- */
.influency {
    height: 700px;
}

.influency img {
    height: 55%;
}

.influency #influency-text p {
    font-size: 1em;
}

.influency #influency-text h1 {
    font-size: 1.6em;
}
/* ---------- Finishes Influency ---------- */

/* ---------- Starts Style ---------- */
.style {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.style img {
    width: 60%;
}

.style .text {
    width: 100%;
}
/* ---------- Finishes Style ---------- */

/* ---------- Starts Discography ---------- */
.discography .swiper-container {
    overflow-x: hidden;
}

.discography h1 {
    font: 900 2.7em var(--titulo);
}

.album-content .title h1 {
    font: 900 2em var(--titulo);
    text-align: center;
}

.discography .swiper-button-prev,
.discography .swiper-button-next {
    display: none;
}
/* ---------- Finishes Discography ---------- */

/* ---------- Starts Members ---------- */
.members .member,
.members #first,
.members #second {
    display: flex;
    flex-direction: column;
}

.members .member img {
    width: 350px;
}

.members .member .name {
    width: 100%;
    margin-top: 1.5rem;
}

.members .member .name h1 {
    font: 900 2.5em var(--titulo);
}
/* ---------- Finishes Members ---------- */

/* ---------- Starts Social ---------- */
.social .title-text h1 {
    font: 900 2.5em var(--titulo)
}
/* ---------- Finishes Social ---------- */

/* ---------- Starts Footer ---------- */
footer #god {
    width: 400px;
}

footer #god img {
    width: 400px;
}
/* ---------- Finishes Footer ---------- */
}

@media screen and (max-width: 600px) {
/* ---------- Starts Header ---------- */
    header #logo {
        width: 150px;
    } 

    header nav {
        background-color: #0a080871;
    }

    header #menu-mobile {
        display: block;
        position: absolute;
        right: calc(1.5rem - 20px);
        padding: 20px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    header #menu-mobile i {
        font-size: 1.5rem;
        color: #fff;
    }

    header .menu-desktop {
        display: none;
        position: absolute;
        top: 80px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a080871;
    }
    
    header #second-item {
        display: none;
        position: absolute;
        top: 150px;
        width: 100%;
        height: 70px;
        right: 0;
        background-color: #0a080871;
    }

    #nav.active .menu-desktop, 
    #nav.active #second-item {
        display: block;
    }

    header .main-header #polyphia1 {
        width: 100%;
        margin: 0;
        }
    
    header .header-streamings {
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        padding: 1rem;
    }
/* ---------- Finishes Header ---------- */
    
/* ---------- Starts Sections ---------- */
    .about img, .style img {
            width: 100%;
        }
    
        .influency img {
            height: 35%;
        }

        .discography .swiper-slide .album-content {
            text-align: center;
        }
    
        .discography .swiper-slide .album-content img {
            width: 90%;
        }

        .discography .album-content .title h1 {
            font-size: 1.8em;
        }

        .discography .album-content .title h2 {
            font-size: 1.3em;
        }
    
        .videoclipes .videos {
            height: 400px;
        }
        
        .members .member img {
            width: 300px;
        }
        
        .members .member .name h1 {
            font: 900 2.2em var(--titulo);
        }
        
        .members .member .name h2 {
            font: 600 1.8em var(--titulo);
        }
    /* ---------- Finishes Sections ---------- */
    
        footer h2 {
            font: 800 1.6em var(--titulo);
        }
}


